.line .telomere .telomere-border,
.line .telomere .telomere-border.unread {
  transition: none;
  box-sizing: content-box;
  border-color: #ffffff;
}
.line
  .telomere
  .telomere-border:hover
  .line
  .telomere
  .telomere-border.unread:hover {
  box-sizing: border-box;
  width: auto;
  background-color: transparent;
}

/* 新着以外のテロメアの色と太さ */
.line .telomere .telomere-border {
  width: 2px !important;
}

/* 新着のテロメアの色と太さ */
.line .telomere .telomere-border.unread {
  background-color: #dcedc8;
  width: 5px !important;
}
.line .telomere .telomere-border.unread:not(.updated-after-load) {
  border-color: #fff!important;
}
