.line .telomere .telomere-border,
.line .telomere .telomere-border.unread {
  transition: none;
  box-sizing: content-box;
  border-color: #ffffff;
}
.line
  .telomere
  .telomere-border:hover
  .line
  .telomere
  .telomere-border.unread:hover {
  box-sizing: border-box;
  width: auto;
  border-color: #ffffff;
  background-color: transparent;
}

/* ↓新着以外のテロメアの色と太さ */
.line .telomere .telomere-border {
  background-color: #ffffff;
  width: 2px;
}

/* ↓新着のテロメアの色と太さ */
.line .telomere .telomere-border.unread {
  background-color: #ffb300;
  width: 5px;
}
