.new-button {
  background-color: #ffffff;
}
.new-button:hover {
  background-color: #ffffff !important;
}
.new-button .vertical-line {
  background-color: #ffb300;
}
.new-button .horizontal-line {
  background-color: #ff8f00;
}
